@media (max-width: 480px) 
{

  .col-less-bootstrap {
    flex: none;
    max-width: 100%;
}

  .header__logo {
    padding-top: 25px;
  }

  .nav__list {
    padding-top: 10px;
    padding-left: 0;
    padding-bottom: 25px;
  }

  .hero__content {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .hero__h {
    font-size: 30px;
    margin-bottom: 4px;
  }

  .hero__descr {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 45px;
  }

  .hero__button {
    padding: 20.5px 53px;
    font-size: 16px;
  }

  
  .advantage {
    padding-top: 48px;
    padding-bottom: 35px;
  }


  .advantage__content {
    padding-left: 0;
    background: none;
    margin-bottom: 10px;
  }



  .advantage__h {
    margin-bottom: 3px;
    font-size: 20px;
    line-height: 130%;
  }



  .advantage__item {
    margin-bottom: 2px;
  }

  .lecturer {
    padding-top: 46px;
    padding-bottom: 26px;
  }


  .lecturer__h2 {
    margin-bottom: 26px;
    font-size: 20px;
  }

  .lecturer__rep {
    margin-bottom: 21px;
  }


  .lecturer__photo {
    margin-bottom: 28px;
  }

  .course {
    padding-top: 48px;
    padding-bottom: 22px;
  }

  .course__h2 {
    margin-bottom: 25px;
    font-size: 20px;
  }


  .course__picture {
    margin-bottom: 33px; 
  }



  .course__button {
    padding: 20.5px 55px;
  }

  .course__rep {
    min-height: 478px;
  }

  .course__img_12 {
    left: 15px;
  }
  
  .course__img_13 {
    left: 0;
  }

}

  @media (max-width: 380px) 
{
  .course__rep {
    min-height: 566px;
  }

  .course__img_1 {
    padding-top: 33px;
  }

  .course__img_12 {
    left: 12px;
  }



}

@media (max-width: 320px) 
{
  .course__rep {
    min-height: 653px;
  }
}




